# env
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
.venv/
venv/

# PHP/Laravel
vendor/
storage/*.key

# Build outputs
dist/
build/
out/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
